body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: #1b1b32;
  font-family: sans-serif;
  font-size: 1rem;
  color: f3f3f3;
  line-height: 1.4;
}

h1 {
  margin-top: 3rem;
  text-align: center;
}

p {
  margin-bottom: 2rem;
  text-align: center;
  
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

label {
  display: block;
  margin-top: 10px;
}

input,
textarea,
select {
  margin: 5px 0 20px 0;
	width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #37af65;
  min-width: 300px;
}
